body {
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    height: 90vh;
    width: 100%;
    
}

#message-container {
    border: 1.5px solid black;
    flex-grow: 1;
    overflow-y: auto;
    width: 80%;
    max-width: 1200px;
}

#message-container div {
    background-color: #cecdcd;
    padding: 5px;
    font-size: large;
  }

  #message-container div:nth-child(2n) {
    background-color: #FFF;
  }

#form {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    font-size: x-large;
}
